# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info/

# SQLite databases
*.db
*.sqlite3
*.db-journal

# Instance folder
instance/
.webassets-cache

# PyInstaller
*.spec